/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env

.php_cs
.php_cs.cache

# Dev Builded Files
/public/css/backend.css
/public/css/frontend.css
/public/js/backend.js
/public/js/frontend.js
