<?php

$finder = PhpCsFixer\Finder::create()
    ->in('app')
    ->in('config')
    ->in('database')
    ->in('resources/lang')
    ->in('routes')
    ->in('tests')
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        'array_syntax' => array('syntax' => 'short'),
    ])
    ->setFinder($finder)
;
