//
// Navbar
//
.navbar .dropdown-toggle {
  @extend .nav-link;

  .img-avatar {
    height: $navbar-height - 20px;
    margin: 0 10px;
    border-radius: 50em;
  }
}

//
// Breadcrumb
//
.breadcrumb {
  @include borders($breadcrumb-borders);
}

//
// Datatable
//
.app {
  table.b-table > thead > tr > th.sorting, table.b-table > tfoot > tr > th.sorting {
    &::before {
      font-family: "feather";
      content: "\e913";
      right: 1em;
    }

    &::after {
      font-family: "feather";
      content: "\e90b";
    }
  }
}
