//
// RTL Support
//
// scss-lint:disable NestingDepth, SelectorDepth
*[dir="rtl"] {
  direction: rtl;
  unicode-bidi: embed;

  body {
    direction: rtl;
  }

  ul {
    -webkit-padding-start: 0;
  }

  table tr th {
    text-align: right;
  }

  // Breadcrumb

  .breadcrumb-item {
    float: right;
  }

  .breadcrumb-menu {
    right: auto;
    left: $breadcrumb-padding-x;
  }

  // Dropdown
  .dropdown-item {
    text-align: right;

    i {
      margin-right: -10px;
      margin-left: 10px;
    }

    .badge {
      right: auto;
      left: 10px;
    }
  }

  //
  // Sidebar
  //
  .sidebar-hidden {
    .sidebar {
      margin-right: - $sidebar-width;
    }
  }

  .sidebar-fixed {
    .main, .app-footer {
      margin-right: $sidebar-width;
    }

    &.sidebar-hidden {
      .main, .app-footer {
        margin-right: 0;
      }
    }
  }

  .sidebar-minimized {
    .sidebar {
      flex: 0 0 $sidebar-minimized-width;
    }

    &.sidebar-hidden {
      .sidebar {
        margin-right: - $sidebar-minimized-width;
        margin-left: 0;
      }
    }

    &.sidebar-fixed {
      .main, .app-footer {
        margin-right: $sidebar-minimized-width;
      }

      &.sidebar-hidden {
        .main, .app-footer {
          margin-left: 0;
        }
      }
    }
  }

  //
  // Aside Menu
  //
  .aside-menu-hidden {
    .aside-menu {
      margin-right: 0;
      margin-left: - $aside-menu-width;
    }
  }

  .aside-menu-fixed {
    .aside-menu {
      right: auto;
      left: 0;
    }

    .main, .app-footer {
      //margin-right: 0;
      margin-left: $aside-menu-width;
    }

    &.aside-menu-hidden {
      .main, .app-footer {
        margin-left: 0;
      }
    }
  }

  // Sidebar Menu
  .sidebar {
    .sidebar-nav {
      .nav {
        .nav-item {
          .nav-link {
            direction: rtl;
            i {
              margin: 0 0 0 ($sidebar-nav-link-padding-x / 2);
            }
            .badge {
              float: left;
              margin-top: 2px;
              // margin-left: 10px;
            }
            &.nav-dropdown-toggle {
              &::before {
                position: absolute;
                right: auto !important;
                left: $sidebar-nav-link-padding-x;
                transform: rotate(180deg);
              }
            }
          }
          &.nav-dropdown {
            &.open {
              > .nav-link.nav-dropdown-toggle::before {
                transform: rotate(270deg);
              }
            }
          }
        }
      }
    }
  }

  .sidebar-minimized .sidebar {
    .nav-link {
      padding-right: 0;
      i {
        float: right;
        padding: 0;
        margin: 0;
      }
      .badge {
        right: auto;
        left: 15px;
      }
    }
    .nav > .nav-dropdown {

      &:hover {
        > .nav-dropdown-items {
          right: $sidebar-minimized-width;
          left: 0;
        }
      }
    }
  }
}
