@import "node_modules/datatables.net-bs4/css/dataTables.bootstrap4";

.app .dataTables_wrapper {
  td.select-checkbox:before {
    font-family: "FontAwesome";
    font-size: (4em / 3);
    content: "\f096";
  }

  .selected {
    background-color: $gray-300;

    td.select-checkbox:before {
      content: "\f046";
    }
  }

  .dataTables_paginate .pagination {
    justify-content: center;
    margin: 0;
  }

  .dataTable {
    margin-top: .5rem !important;
    margin-bottom: 1rem !important;
  }
}
