@import "~bootstrap-v4-rtl/scss/functions";
@import "~bootstrap-v4-rtl/scss/variables";
@import "~bootstrap-v4-rtl/scss/mixins";
@import "~bootstrap-v4-rtl/scss/rtl";


*[dir="rtl"] {

  body{
    text-align: right;
  }

  .float-right {
    float: left !important;
  }

  .float-left {
    float: right !important;
  }

  .dropdown-menu {
    left: unset !important;
    right: 0 !important;
  }
}