
// Fonts
$fa-font-path: "~font-awesome/fonts/";
$simple-line-font-path: "~simple-line-icons/fonts/";

// Bootstrap
$border-radius: 0;

// CoreUI
$navbar-brand-width: 205px;
$sidebar-width: 250px;
$navbar-brand-logo: url('../../vendor/coreui/img/logo.png');
$navbar-brand-minimized-logo: url('../../vendor/coreui/img/logo-symbol.png');
