// Breadcrumbs
$breadcrumb-bg: #fff;
$breadcrumb-margin-bottom: 1.5rem;

$input-line-height: 1.5;
$input-line-height-sm: 1.5;
$input-line-height-lg: 1.5;
$btn-line-height: 1.5;
$btn-line-height-sm: 1.5;
$btn-line-height-lg: 1.5;

$custom-select-padding-y: .375rem;
$custom-select-padding-x: .75rem;
