
// Variables
@import "variables";

// Fonts
@import "~font-awesome/scss/font-awesome";
@import "~simple-line-icons/scss/simple-line-icons";

// Bootstrap vue specific CSS
@import '~bootstrap-vue/dist/bootstrap-vue.css';

// Init coreui admin
@import "../../vendor/coreui/scss/style";

// Plugins
@import "~noty/src/noty";
@import "~noty/src/themes/bootstrap-v4";
@import "~sweetalert2/src/sweetalert2";
@import "~flatpickr/dist/flatpickr";

// Components
@import "../buttons";

[v-cloak] {
  display: none;
}

.intl-tel-input {
  width: 100%;
}

.alert.alert-top {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

.custom-control-indicator, .custom-control-description, .switch-label, .switch-handle {
  margin-top: .25rem;
}

.flatpickr-calendar {
  border-radius: 0;
}

body .v-select {
  .selected-tag {
    background-color: #20a8d8;
    border-color: #20a8d8;
    color: #fff;

    .close {
      color: #fff;
      text-shadow: none;
      opacity: 1;
    }
  }

  .dropdown-toggle, .selected-tag {
    border-radius: 0;
  }
}

.table th {
  white-space: nowrap;
}

.nowrap {
  white-space: nowrap;
}

.app {
  .ck-editor__editable {
    min-height: 200px;
    max-height: 600px;
    padding: 0 1rem;
  }

  .ck-editor__editable p {
    margin: 1rem 0;
  }

  .ck-rounded-corners .ck-editor__top .ck-sticky-panel .ck-toolbar,
  .ck-button.ck-rounded-corners, .ck-rounded-corners .ck-button, .ck-rounded-corners a.ck-button, a.ck-button.ck-rounded-corners,
  .ck-editor__editable.ck-rounded-corners, .ck-rounded-corners .ck-editor__editable {
    border-radius: 0;
  }
}
