// Variables
@import "variables";

// Init coreui admin
@import "../../vendor/coreui/scss/bootstrap-variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "../../vendor/coreui/scss/style";

// Plugins
@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/toastr/toastr.scss";
@import "node_modules/sweetalert2/src/sweetalert2";
@import "node_modules/flatpickr/dist/flatpickr";

// Datatables
@import "datatables";

// Components
@import "../buttons";
@import "../select2";

[v-cloak] {
  display: none;
}

.form-group.has-error {
  background: none;
}

.intl-tel-input {
  width: 100%;
}

iframe {
  width: 100%;
  border: 0;
}

.alert.alert-top {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}
