/*
 * Footer
 *
 * Separated section of content at the bottom of all pages, save the homepage.
 */

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 100px;
  color: #99979c;
  text-align: center;
  background-color: #2a2730;
}
.footer a {
  color: #fff;
}
.footer-links {
  padding-left: 0;
  margin-bottom: 20px;
}
.footer-links li {
  display: inline-block;
}
.footer-links li + li {
  margin-left: 15px;
}

@media (min-width: 768px) {
  .footer {
    text-align: left;
  }
  .footer p {
    margin-bottom: 0;
  }
}