@import "~bootstrap-v4-rtl/scss/functions";
@import "~bootstrap-v4-rtl/scss/variables";
@import "~bootstrap-v4-rtl/scss/mixins";
@import "~bootstrap-v4-rtl/scss/rtl";


.rtl {

  body{
    text-align: right;
  }

  .float-right {
    float: left !important;
  }

  .float-left {
    float: right !important;
  }

  .dropdown-menu {
    left: unset !important;
    right: 0 !important;
  }

  .footer {
    text-align: right;
  }

  .footer-links {
    padding-right: 0;
    padding-left: inherit;
  }

  .footer-links li + li {
    margin-right: 15px;
    margin-left: inherit;
  }

  .jumbotron {
    direction: ltr !important;
  }
}