*[dir="rtl"] {
  body {
    text-align: right;
  }

  .footer {
    text-align: right;
  }

  .footer-links {
    padding-right: 0;
    padding-left: inherit;
  }

  .footer-links li + li {
    margin-right: 15px;
    margin-left: inherit;
  }

  .jumbotron {
    direction: ltr !important;
  }
}
