
// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/datatables.net-bs/css/dataTables.bootstrap";
@import "node_modules/bootstrap-slider/src/sass/bootstrap-slider";
@import "node_modules/eonasdan-bootstrap-datetimepicker/src/sass/bootstrap-datetimepicker-build";

// Vendor
@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/sweetalert2/src/sweetalert2";
@import "node_modules/slick-carousel/slick/slick.scss";
@import "node_modules/slick-carousel/slick/slick-theme.scss";
@import "node_modules/select2/src/scss/core";
@import "node_modules/cookieconsent/build/cookieconsent.min";

// App
@import "footer";

[v-cloak] {
  display: none;
}

.alert.logged-in-as {
  border: none;
  margin-bottom: 0;
}

.highlight .jumbotron {
  margin-bottom: 0;
}

.breadcrumb {
  margin-bottom: 0;
}

.main-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

h1 {
  margin-top: 0;
}

.slick-list {
  .slick-loading & {
    background: none;
  }
}

.slick-slide {
  text-align: center;

  h3 {
    line-height: 200px;
    background-color: #fff;
    margin: 0 10px;
  }
}

.tab-content {
  background-color: #fff;
  padding: 15px;
  border: 1px solid $nav-tabs-border-color;
  border-top: 0;
}