
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/datatables.net-bs/css/dataTables.bootstrap";
@import "node_modules/bootstrap-slider/src/sass/bootstrap-slider";
@import "node_modules/eonasdan-bootstrap-datetimepicker/src/sass/bootstrap-datetimepicker-build";

@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/sweetalert2/src/sweetalert2";
@import "node_modules/slick-carousel/slick/slick.scss";
@import "node_modules/slick-carousel/slick/slick-theme.scss";
@import "node_modules/select2/src/scss/core";

.slick-list {
  .slick-loading & {
    background: none;
  }
}

.slick-slide {
  text-align: center;

  h3 {
    line-height: 200px;
    background-color: #eee;
    margin: 0 10px;
  }
}
